/* Show bookmarks toolbar only when cursor is on top of toolbar area */

#PersonalToolbar:not([customizing]){
	margin-bottom: -22px;
	transform: rotateX(90deg);
	transform-origin: top;
	transition: transform 135ms linear 48ms !important;
}
:root[uidensity="compact"] > #navigator-toolbox > #PersonalToolbar:not([customizing]){ margin-bottom: -20px }
:root[uidensity="touch"] > #navigator-toolbox > #PersonalToolbar:not([customizing]){ margin-bottom: -26px }

#navigator-toolbox:hover > #PersonalToolbar{ transform: rotateX(0) }