/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar */
/* Dimensions on non-Win10 OS probably needs to be adjusted */

:root[sizemode="maximized"]:not([inDOMFullscreen]){ margin-top: 10px }
:root[sizemode="maximized"] > #navigator-toolbox{ margin-top: -2px }

@media screen and (min-resolution: 1.25dppx){
  :root[sizemode="maximized"]:not([inDOMFullscreen]){ margin-top: 9px }
}
@media screen and (min-resolution: 1.5dppx){
  :root[sizemode="maximized"]:not([inDOMFullscreen]){ margin-top: 8px }
  :root[sizemode="maximized"] > #navigator-toolbox{ margin-top: -1px }
}
@media screen and (min-resolution: 2dppx){
  :root[sizemode="maximized"]:not([inDOMFullscreen]){ margin-top: 7px }
}

#navigator-toolbox{
  position: fixed !important;
  background-color: var(--lwt-accent-color,black);
  transition: transform 82ms 33ms linear, opacity 82ms 33ms linear !important;
  transform-origin: top;
  line-height: 0;
}
#navigator-toolbox > *{ line-height: normal }


#navigator-toolbox,
#navigator-toolbox > *{
  width: 100vw;
  -moz-appearance: none !important;
}

:root:not([customizing]) > #navigator-toolbox:not(:focus-within):not(:hover){
  transform: rotateX(86deg);
  opacity: 0;
}
:root[sizemode="maximized"]:not([customizing]) > #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89.5deg) }

#PersonalToolbar[collapsed]{ margin-block-end: -7px }

/* Uncomment this if tabs toolbar is hidden with hide_tabs_toolbar.css */
 /*#titlebar{ margin-bottom: -9px }*/