/* For Firefox 66+ only */
/* !! Use customize mode to make menubar permanently enabled !! */
/* !! Also put one flexible space to the left side of the menubar !! */

/* Menubar will be behind nav-bar unless cursor is over window controls or right edge of the "settings" icon */
/* Window can only be dragged from the settings icon or a ~20px space between menu button and window controls */

/* Change the --multirow-n-rows to change maximum number of rows before the rows will start to scroll  */
/* Scrollbar can't be clicked but the rows can be scrolled with mouse */


:root{
  --multirow-toolbar-height: 40px;
  --multirow-top-padding: 0px;
  --multirow-n-rows: 3;
}

:root[sizemode="maximized"]{ --multirow-top-padding: 8px }
:root[uidensity="compact"]{--multirow-toolbar-height: 32px}
:root{ border-top-width: 0px !important }

#navigator-toolbox{ -moz-box-ordinal-group: 2 }

#titlebar{-moz-appearance: -moz-window-titlebar !important; }

#nav-bar{
  position: fixed !important;
  margin-right: 138px;
  margin-left: 30px;
  /* width == 100vw - margins */
  width: calc(100vw - 168px);
  top: var(--multirow-top-padding);
}

#nav-bar-overflow-button {
max-height: 31px !important;
transform: translateY(calc(-4 * var(--toolbarbutton-outer-padding) + 4px))
}

#PanelUI-button{ float: right; }
#nav-bar > toolbartabstop{ float: left }

:root:not([inDOMFullscreen]) #content-deck,
:root:not([inDOMFullscreen]) > #browser{ margin-top: calc(var(--multirow-toolbar-height) + var(--multirow-top-padding))}

/* Restyle nav-bar and menubar */
#nav-bar-customization-target{ width: calc(100% - 100px); }
:root[uidensity="compact"] #nav-bar-customization-target{ width: calc(100% - 82px); }

#nav-bar > *,
#PanelUI-menu-button{ height: var(--multirow-toolbar-height); }

#toolbar-menubar{
  height: var(--multirow-toolbar-height);
  position: fixed;
  top: var(--multirow-top-padding);
  width: 100vw;
  color: var(--lwt-text-color);
  background: linear-gradient(to right, var(--toolbar-bgcolor), var(--toolbar-bgcolor) 30px, transparent 30px) no-repeat;
}

#toolbar-menubar > #menubar-items{
  -moz-box-pack: center;
  height: 100%;
  visibility: hidden;
}

#toolbar-menubar:hover{ z-index: 2 }
#toolbar-menubar:hover > #menubar-items{
  visibility: visible;
  background-image: linear-gradient( to left,transparent,var(--lwt-accent-color) 35px);
}

#toolbar-menubar > .titlebar-buttonbox-container{float: right; height: 100%; background: var(--toolbar-bgcolor)}
#toolbar-menubar > .titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100% ;}

#main-menubar:last-child{ padding-inline-end: 40px }
#toolbar-menubar > toolbarspring {
  background: url(chrome://browser/skin/settings.svg) no-repeat 10px;
  height: 100%;
  float: left;
  fill: currentColor;
  -moz-context-properties: fill;
  min-width: 28px !important;
  max-width: 28px !important;
}

#PanelUI-button{ margin-right: 20px; }

#tabbrowser-tabs{
  min-height: unset !important;
}
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox{
  display: flex;
  flex-wrap: wrap;
  max-height: calc(var(--multirow-toolbar-height) * var(--multirow-n-rows));
  overflow-y: auto;
  scrollbar-color: var(--toolbar-bgcolor) var(--lwt-accent-color);
  scrollbar-width: thin;
}
#tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  overflow: -moz-hidden-unscrollable;
  display: block;
}
.tabbrowser-tab{ max-height: var(--multirow-toolbar-height); min-height: var(--multirow-toolbar-height) }
.tabbrowser-tab > stack{ width: 100%; height: 100%; }

.tabbrowser-tab[fadein]:not([pinned]){
  min-width: 100px !important;
  flex-grow: 1;
  /*
  Uncomment to enable full-width tabs, also makes tab dragging a tiny bit more sensible
  Don't set to none or you'll see errors in console when closing tabs
  */
 /*! max-width: 100vw !important; */
}

#tabbrowser-tabs .tabbrowser-tab[pinned]{
  position: static !important;
  margin-inline-start: 0px !important;
}

#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#alltabs-button,
#TabsToolbar #new-tab-button,
#tabbrowser-tabs spacer,
.tabbrowser-tab::after{ display: none !important } /* Also disables tab separators since they mysteriously break tab-row scrolling */

/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}
