/* Adds animated gradient border below tabs and around selected tab */
/* Might or might not work, no promises */

/* Constant animation WILL increase CPU usage */

/*
Thanks to /u/skenera on reddit for suggesting animating background position and using steps() function to reduce cpu load
*/
@keyframes rotate-gradient{
  from{background-position: 0 0;}
  to{background-position: 200vw 0;}
}

#TabsToolbar::before{
  content: "";
  display: -moz-box;
  position: absolute;
  width: 200vw;
  height: calc(var(--tab-min-height) + 2px);
  background-image: linear-gradient(to right, magenta, red, yellow, green, cyan, blue, magenta);
  animation: rotate-gradient 10s steps(60) infinite;
  /*animation-timing-function: linear;  */ /* smoother animation, but greatly increased cpu use */
  pointer-events: none;
  z-index: -1;
}

#tabbrowser-tabs .arrowscrollbox-scrollbox::after{
  content: "";
  display: -moz-box;
  -moz-box-flex: 1 !important;
  background-color: var(--lwt-accent-color);
  margin-bottom: 2px;
}

#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-spacer,
.tabbrowser-tab,
.tabs-newtab-button,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#tabbrowser-tabs ~ toolbarbutton{
  background-color: var(--lwt-accent-color) !important;
  margin-bottom: 2px !important;
  opacity: 1 !important;
}

.tabbrowser-tab{ padding: 2px 2px 0 2px !important; }
.tabbrowser-tab:not([selected]){ min-height: calc(var(--tab-min-height) - 2px) !important; }


.tabbrowser-tab[selected]{
  padding: 0px !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  border-bottom-width: 0px !important;
  margin-bottom: 0px !important;
}

.tab-content[selected]{ margin-top: -2px }