/* Makes menubar appear vertically on the right side of the window */

/* The first element in the menubar is used to "toggle" the file-menu & friends */
/* So, if you want the menu items to be toggleable, just move one button to be before menubar items in the toolbar. If all buttons come after menubar items, then none of those will trigger menubar items. */


:root:not([customizing]) #titlebar{
  position: fixed;
  -moz-appearance: none !important;
  right: 0px; 
  height: 100vh;
  width: 30px;
}
:root:not([customizing]) > #navigator-toolbox{ margin-top: var(--tab-min-height) }

#TabsToolbar:not([customizing]){
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  padding-left: 30px !important;
}

#TabsToolbar > .toolbar-items{ max-width: calc(100vw - 138px) }
#TabsToolbar > .titlebar-buttonbox-container{
  display: block !important;
  float: right !important;
}

#toolbar-menubar:not([customizing]){
  margin-top: 40px;
  width: 30px;
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
}

#toolbar-menubar > .titlebar-buttonbox-container,#toolbar-menubar > spacer{ display: none !important; }

#toolbar-menubar > #menubar-items{ visibility: collapse }
#toolbar-menubar > .toolbarbutton-1:first-child:hover + #menubar-items,#toolbar-menubar > #menubar-items:hover{ visibility: visible }

#toolbar-menubar:not([customizing]) #main-menubar{
  -moz-box-orient: vertical;
  margin-left: -60px;
  background-color: var(--lwt-accent-color)
}

:root:not([inDOMFullscreen]) > #content-deck,:root:not([inDOMFullscreen]) > #browser{ margin-right: 30px }
